html {
  font-size: clamp(10px, 4vh, 16px);
  color: black;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 3%;
}

form {
  display: grid;
  justify-content: center;
  grid-template-columns: 2fr 0.5fr;
  width: 30%;
  row-gap: 10px;
  margin: auto;
}

input {
  font-size: 0.9rem;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

button {
  height: 100%;
  width: 80%;
  margin-left: 0;
  border: none;
  color: white;
  cursor: pointer;
}

.add-task {
  width: 80%;
  height: 80%;
  margin: auto;
}

.full {
  grid-column-start: 1;
  grid-column-end: 3;
}

table {
  width: 95%;
  margin: auto;
  margin-top: 3%;
  text-align: center;
  border-spacing: 0;
}

tr {
  height: 50%;
  line-height: 2.75rem;
  font-size: 1.2rem;
}

.actions {
  display: flex;
  justify-content: space-between;
}

td {
  border-bottom: 1px solid rgb(140, 140, 140);
  margin: 0;
  padding: 0;
}

th {
  background-color: rgb(205, 205, 205);
  border-bottom: none;
  font-weight: lighter;
}

.actions > button {
  display: inline-block;
  height: 100%;
  line-height: 1.75rem;
  margin: 2%;
}

.deleteButton {
  background-color: red;
}

#addButton {
  background-color: red;
}

.doneButton {
  background-color: rgb(66, 178, 66);
}

.status {
  padding: 5px;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: contain;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-top: 2%;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.pagination a:active {
  background-color: rgb(48, 50, 51);
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

footer {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
}

#snackbar {
  display: none;
  width: 20%;
  background-color: #333;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  left: 40%;
  bottom: 30px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@media all and (max-width: 1000px) {
  form {
    width: 60%;
  }

  tr {
    line-height: 1.75rem;
    font-size: 1rem;
  }
}

@media all and (max-width: 700px) {
  form {
    width: 80%;
  }

  tr {
    line-height: 1.5rem;
    font-size: 0.8rem;
  }
}
